.sectionContainer{
    // padding: 0rem 0.5rem
}

.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    @media (max-width:991.5px){
        flex-direction: column;
        gap: 2rem 0.5rem;
        align-items: flex-start;
        justify-content: center;
    }
}

.open{
    margin-bottom: 0rem;
}

.address{
    line-height: 2;
    font-weight: 300;
    display: flex;
    address{
        margin-left: 0.3rem;
    }
}

.phone{
    line-height: 2;
    font-weight: 300;
    display: flex;
    a{
        margin-left: 0.3rem;
    }
}


.map{
    iframe{
        width: 100%;
    }
}